.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  font-size: 1em;
  user-select: none;
  z-index: 0;
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}
